@font-face {
  font-family:'l';
  src: url('../fonts/l 900.eot');
  src: url('../fonts/l 900.eot?#iefix') format('embedded-opentype'),
  url('../fonts/l 900.woff2') format('woff2'),
  url('../fonts/l 900.woff') format('woff'),
  url('../fonts/l 900.ttf') format('truetype'),
  url('../fonts/l 900.otf') format('opentype'),
  url('../fonts/l 900.svg#l 900') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0525;
}

@font-face {
  font-family:'l';
  src: url('../fonts/l 900Italic.eot');
  src: url('../fonts/l 900Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/l 900Italic.woff2') format('woff2'),
  url('../fonts/l 900Italic.woff') format('woff'),
  url('../fonts/l 900Italic.ttf') format('truetype'),
  url('../fonts/l 900Italic.otf') format('opentype'),
  url('../fonts/l 900Italic.svg#l 900Italic') format('svg');
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-0525;
}

@font-face {
  font-family:'l';
  src: url('../fonts/l 700.eot');
  src: url('../fonts/l 700.eot?#iefix') format('embedded-opentype'),
  url('../fonts/l 700.woff2') format('woff2'),
  url('../fonts/l 700.woff') format('woff'),
  url('../fonts/l 700.ttf') format('truetype'),
  url('../fonts/l 700.otf') format('opentype'),
  url('../fonts/l 700.svg#l 700') format('svg');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0525;
}

@font-face {
  font-family:'l';
  src: url('../fonts/l 700Italic.eot');
  src: url('../fonts/l 700Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/l 700Italic.woff2') format('woff2'),
  url('../fonts/l 700Italic.woff') format('woff'),
  url('../fonts/l 700Italic.ttf') format('truetype'),
  url('../fonts/l 700Italic.otf') format('opentype'),
  url('../fonts/l 700Italic.svg#l 700Italic') format('svg');
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-0525;
}

@font-face {
  font-family:'l';
  src: url('../fonts/l 300Italic.eot');
  src: url('../fonts/l 300Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/l 300Italic.woff2') format('woff2'),
  url('../fonts/l 300Italic.woff') format('woff'),
  url('../fonts/l 300Italic.ttf') format('truetype'),
  url('../fonts/l 300Italic.otf') format('opentype'),
  url('../fonts/l 300Italic.svg#l 300Italic') format('svg');
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-0525;
}

@font-face {
  font-family:'l';
  src: url('../fonts/l 100.eot');
  src: url('../fonts/l 100.eot?#iefix') format('embedded-opentype'),
  url('../fonts/l 100.woff2') format('woff2'),
  url('../fonts/l 100.woff') format('woff'),
  url('../fonts/l 100.ttf') format('truetype'),
  url('../fonts/l 100.otf') format('opentype'),
  url('../fonts/l 100.svg#l 100') format('svg');
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0525;
}

@font-face {
  font-family:'l';
  src: url('../fonts/l 100Italic.eot');
  src: url('../fonts/l 100Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/l 100Italic.woff2') format('woff2'),
  url('../fonts/l 100Italic.woff') format('woff'),
  url('../fonts/l 100Italic.ttf') format('truetype'),
  url('../fonts/l 100Italic.otf') format('opentype'),
  url('../fonts/l 100Italic.svg#l 100Italic') format('svg');
  font-weight: 200;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-0525;
}

@font-face {
  font-family:'l';
  src: url('../fonts/l 500.eot');
  src: url('../fonts/l 500.eot?#iefix') format('embedded-opentype'),
  url('../fonts/l 500.woff2') format('woff2'),
  url('../fonts/l 500.woff') format('woff'),
  url('../fonts/l 500.ttf') format('truetype'),
  url('../fonts/l 500.otf') format('opentype'),
  url('../fonts/l 500.svg#l 500') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0525;
}

@font-face {
  font-family:'l';
  src: url('../fonts/l 500Italic.eot');
  src: url('../fonts/l 500Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/l 500Italic.woff2') format('woff2'),
  url('../fonts/l 500Italic.woff') format('woff'),
  url('../fonts/l 500Italic.ttf') format('truetype'),
  url('../fonts/l 500Italic.otf') format('opentype'),
  url('../fonts/l 500Italic.svg#l 500Italic') format('svg');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-0525;
}

@font-face {
  font-family:'l';
  src: url('../fonts/l 300.eot');
  src: url('../fonts/l 300.eot?#iefix') format('embedded-opentype'),
  url('../fonts/l 300.woff2') format('woff2'),
  url('../fonts/l 300.woff') format('woff'),
  url('../fonts/l 300.ttf') format('truetype'),
  url('../fonts/l 300.otf') format('opentype'),
  url('../fonts/l 300.svg#l 300') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0525;
}