<!-- Begin Footer -->

<div class="footer">
    <div class="container">
        <div class="footer_top">
            <a href="#" class="footer_logo">
                <div class="footer_logo-img"><img src="img/logo.svg" alt="Эргент"></div>
                <div class="footer_logo-text">Эргент</div>
            </a>
            <ul class="footer_nav">
                <li><a href="#">Расчет стоимости</a></li>
                <li><a href="#">Продукция</a></li>
                <li><a href="#">Услуги</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
            <div class="footer_services">
                <a href="#pop-form" class="footer_services-call">Заказать звонок</a>
                <a href="#calc" class="footer_services-account btn scroll">Расчитать стоимость</a>
            </div>
            <div class="footer_addres">
                <div class="footer_addres-here"><img src="img/local.svg" alt="location">195279,
                    Санкт-Петербург, <br>
                    шоссе Революции, д.63
                </div>
                <div class="footer_addres-here"><img src="img/phone.svg" alt="phone"><a href="#" >+7 (812) 333-1-777</a></div>
                <div class="footer_addres-here"><img src="img/mail.svg" alt="mail"><a href="#" class="footer_addres-mail">mail@ergent.ru</a></div>

                <div class="footer_social">
                    <div class="footer_social-item">
                        <a href="#"><img src="img/social/insta.svg" alt="instagram"></a>
                        <a href="#"><img src="img/social/telegram.svg" alt="telegram"></a>
                        <a href="#"><img src="img/social/vk.svg" alt="vk.com"></a>
                        <a href="#"><img src="img/social/facebook.svg" alt="facebook"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bot">
            <div class="footer_copy">© ООО «Эргент» 2018</div>
            <a href="$" class="footer_right">Политика конфиденциальности</a>
        </div>
    </div>
</div>

<!-- End Footer -->