<!-- Begin Popup -->
<form action="#" class="popup_form mfp-hide zoom-anim-dialog" id="pop-form">
    <p>Оставьте свои данные и мы перезвоним Вам</p>
    <input type="text" placeholder="Ваше имя" class="popup_form-name">
    <input type="text" placeholder="Ваш телефон" class="popup_form-phone">
    <button type="submit" class="popup_form-send btn">Отправить</button>
</form>
<!-- End Popup -->



<!-- Begin Navigation -->

<div class="navigation">
    <div class="container">
        <div class="nav">
            <a href="#" class="nav_logo">
                <div class="nav_logo_img"><img src="img/logo.svg" alt=" Санкт-Петербург"></div>
                <div class="nav_logo_text">Эргент <span>Металлообработка</span> </div>
            </a>
            <a href="#" class="toggle_menu"><span></span></a>
            <ul class="nav_menu">
                <li><a href="#calc" class="scroll">Расчет стоимости</a></li>
                <li>
                    <a href="/sdsd.html">Услуги
                        <div class="plus-menu">
                            <?xml version="1.0" encoding="iso-8859-1"?>
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 477.175 477.175" style="enable-background:new 0 0 477.175 477.175;" xml:space="preserve">
								<g>
									<path d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5   c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z" />
								</g>
							</svg>
                        </div>
                    </a>
                    <ul class="drop">
                        <li><a href="/sdsd.html">Разработка конструкторской документации</a></li>
                        <li><a href="/sdsd.html">Раскрой метала
                                <div class="plus-menu">
                                    <?xml version="1.0" encoding="iso-8859-1"?>
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 477.175 477.175" style="enable-background:new 0 0 477.175 477.175;" xml:space="preserve">
                                    <g>
                                        <path d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5   c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z" />
                                    </g>
                                </svg>
                                </div>
                            </a>
                            <ul class="submenu">
                                <li><a href="/dfefe.html">Гибка</a></li>
                                <li><a href="/dfefe.html">Штамповка</a></li>
                                <li><a href="/dfefe.html">Вальцовка</a></li>
                                <li><a href="/dfefe.html">Механическая обработка</a></li>
                                <li><a href="/dfefe.html">Слесарная обработка</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Гибка</a></li>
                        <li><a href="#">Штамповка</a></li>
                        <li><a href="#">Вальцовка</a></li>
                        <li><a href="#">Механическая обработка</a></li>
                        <li><a href="#">Слесарная обработка</a></li>
                        <li><a href="#">Сварка</a></li>
                        <li><a href="#">Нанесение химических покрытий</a></li>
                        <li><a href="#">Окраска метала</a></li>
                        <li><a href="#">Изготовление готовых конструкций</a></li>
                        <li><a href="#">Выездная сварка, сборка конструкций</a></li>
                    </ul>
                </li>
                <li><a href="#prod" class="scroll">Продукция</a></li>
                <li><a href="#map" class="scroll">Контакты</a></li>
            </ul>
            <div class="nav_location">
                <div class="nav_location_city">
                    <div class="nav_location_svg"> <svg class="icon icon-local"><use xlink:href="img/sprite.svg#icon-local"></use></svg></div>
                    Санкт-Петербург
                </div>
                <div class="nav_location_mail">
                    <div class="nav_location_svg"> <svg class="icon icon-mail"><use xlink:href="img/sprite.svg#icon-mail"></use></svg></div>
                    <a href="mailto:Санкт-Петербург">mail@ergent.ru</a>
                </div>
            </div>
            <div class="nav_callback">
                <a href="tel:8 800 555 35 35" class="nav_callback_phone">
                    <svg class="icon icon-phone"><use xlink:href="img/sprite.svg#icon-phone"></use></svg>8 800 555 35 35</a>
                <a href="#pop-form" class="nav_callback_btn btn">
                    Перезвонить
                </a>
            </div>
        </div>
    </div>
</div>

<!-- End Navigation -->
